In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_data = pd.read_csv("datasets/train.csv")
test_data = pd.read_csv("datasets/test.csv")

In [5]:
train_data.shape, test_data.shape

((2051, 81), (878, 80))

In [6]:
set(train_data)-set(test_data)

{'SalePrice'}

In [8]:
train_data.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [9]:
train_data.set_index("Id", inplace = True)
test_data.set_index("Id", inplace = True)

In [11]:
train_data.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [12]:
test_data.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
Id,,,,,,,,,,,,,,,,,,,,,
2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,AllPub,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [14]:
train_data.isnull().sum().sort_values(ascending = False)

Pool QC         2042
Misc Feature    1986
Alley           1911
Fence           1651
Fireplace Qu    1000
                ...
Central Air        0
Electrical         0
1st Flr SF         0
2nd Flr SF         0
SalePrice          0
Length: 80, dtype: int64

In [16]:
train_data.fillna(0, inplace = True)
test_data.fillna(0, inplace = True)

In [144]:
data["Enclosed Porch"].value_counts()

0      1724
112      13
96       10
144       6
84        6
       ...
268       1
260       1
256       1
72        1
301       1
Name: Enclosed Porch, Length: 159, dtype: int64

In [145]:
data["Screen Porch"].value_counts()

0      1870
144       9
168       8
192       7
180       7
       ...
208       1
204       1
198       1
196       1
385       1
Name: Screen Porch, Length: 100, dtype: int64

In [146]:
data["Pool Area"].value_counts()

0      2042
228       1
368       1
480       1
576       1
648       1
738       1
800       1
519       1
561       1
Name: Pool Area, dtype: int64

In [147]:
data["Sale Type"].value_counts()

WD       1781
New       160
COD        63
ConLD      17
CWD        10
ConLI       7
ConLw       5
Oth         4
Con         4
Name: Sale Type, dtype: int64

In [148]:
data["Lot Frontage"].value_counts()

60.0     179
70.0      96
80.0      94
50.0      90
65.0      71
        ...
119.0      1
117.0      1
137.0      1
22.0       1
195.0      1
Name: Lot Frontage, Length: 118, dtype: int64

In [19]:
train_data.drop(columns = ["Alley", "Pool QC", "Garage Cond","MS Zoning", "Land Slope",
                     "Land Slope", "Garage Qual", "Fence", "Paved Drive", "Misc Feature",
                     "3Ssn Porch","Functional", 'Kitchen AbvGr',  "Screen Porch", "Lot Config", "Condition 2", "Pool Area", "PID", "Bldg Type", "Street", "Utilities", "Land Contour" ], inplace = True)

In [24]:
train_data['Wood Deck SF'].value_counts()

0      1075
100      53
144      46
192      43
120      40
       ...
73        1
75        1
186       1
87        1
857       1
Name: Wood Deck SF, Length: 322, dtype: int64

In [23]:
train_data.head()

,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Neighborhood,Condition 1,House Style,Overall Qual,Overall Cond,Year Built,...,Garage Cars,Garage Area,Wood Deck SF,Open Porch SF,Enclosed Porch,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
109,60,0.0,13517,IR1,Sawyer,RRAe,2Story,6,8,1976,...,2.0,475.0,0,44,0,0,3,2010,WD,130500
544,60,43.0,11492,IR1,SawyerW,Norm,2Story,7,5,1996,...,2.0,559.0,0,74,0,0,4,2009,WD,220000
153,20,68.0,7922,Reg,NAmes,Norm,1Story,5,7,1953,...,1.0,246.0,0,52,0,0,1,2010,WD,109000
318,60,73.0,9802,Reg,Timber,Norm,2Story,5,5,2006,...,2.0,400.0,100,0,0,0,4,2010,WD,174000
255,50,82.0,14235,IR1,SawyerW,Norm,1.5Fin,6,8,1900,...,2.0,484.0,0,59,0,0,3,2010,WD,138500

In [157]:
# sorted(data.isnull().sum())
data.columns

Index(['Id', 'MS SubClass', 'Lot Frontage', 'Lot Area', 'Lot Shape',
       'Neighborhood', 'Condition 1', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Wood Deck SF',
       'Open Porch SF', 'Enclosed Porch', 'Misc Val', 'Mo Sold', 'Yr Sold',
       'Sale Type', 'SalePrice'],
      dtype='object')

In [25]:
# [i for i in data.isnull().sum()]
# data["Misc Feature"].isnull().sum()
train_data['Neighborhood'].value_counts()

NAmes      310
CollgCr    180
OldTown    163
Edwards    143
Somerst    130
NridgHt    122
Gilbert    116
Sawyer     111
NWAmes      87
SawyerW     87
Mitchel     82
BrkSide     76
Crawfor     71
IDOTRR      69
NoRidge     48
Timber      48
StoneBr     38
SWISU       32
ClearCr     27
MeadowV     24
Blmngtn     22
BrDale      19
NPkVill     17
Veenker     17
Blueste      6
Greens       3
GrnHill      2
Landmrk      1
Name: Neighborhood, dtype: int64

In [70]:
# test_dt = pd.read_csv("datasets/test.csv")

In [68]:
# test_dt.head()

# EDA
- Descriptive statistics
- visulaization
- Interpretation of the descriptive statistics and visulaization

# Feature Engineerin

In [42]:
train_dummy = pd.get_dummies(train_data[["Neighborhood"]])
test_dummy = pd.get_dummies(test_data[["Neighborhood"]])

In [43]:
train_dummy.shape, test_dummy.shape

((2051, 28), (878, 26))

In [44]:
set(train_dummy)-set(test_dummy)

{'Neighborhood_GrnHill', 'Neighborhood_Landmrk'}

In [45]:
missing_columns_train = list(set(test_dummy)-set(train_dummy))
missing_columns_test = list(set(train_dummy)-set(test_dummy))

In [46]:
missing_columns_train, missing_columns_test

([], ['Neighborhood_GrnHill', 'Neighborhood_Landmrk'])

In [47]:
for col in missing_columns_test:
    test_dummy[col] = 0

In [48]:
train_dummy.shape, test_dummy.shape

((2051, 28), (878, 28))

In [49]:
train_dummy.columns

Index(['Neighborhood_Blmngtn', 'Neighborhood_Blueste', 'Neighborhood_BrDale',
       'Neighborhood_BrkSide', 'Neighborhood_ClearCr', 'Neighborhood_CollgCr',
       'Neighborhood_Crawfor', 'Neighborhood_Edwards', 'Neighborhood_Gilbert',
       'Neighborhood_Greens', 'Neighborhood_GrnHill', 'Neighborhood_IDOTRR',
       'Neighborhood_Landmrk', 'Neighborhood_MeadowV', 'Neighborhood_Mitchel',
       'Neighborhood_NAmes', 'Neighborhood_NPkVill', 'Neighborhood_NWAmes',
       'Neighborhood_NoRidge', 'Neighborhood_NridgHt', 'Neighborhood_OldTown',
       'Neighborhood_SWISU', 'Neighborhood_Sawyer', 'Neighborhood_SawyerW',
       'Neighborhood_Somerst', 'Neighborhood_StoneBr', 'Neighborhood_Timber',
       'Neighborhood_Veenker'],
      dtype='object')

In [50]:
## drop the origin
train_dummy.drop(columns ='Neighborhood_Blmngtn', inplace  = True)
test_dummy.drop(columns ='Neighborhood_Blmngtn', inplace  = True)

In [52]:
train_data_full = train_data.join(train_dummy)
test_data_full = test_data.join(test_dummy)

In [ ]:
train_data_full.drop()

## Preprocessing & Modeling

In [ ]:
# Define